src/main/mule/cicd_world_time_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="67ccd49a-f8e4-412f-b846-0eda6fe2b79b" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="34848665-36af-42ad-aba3-57309974eade" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="cicd_world_time_demoFlow" doc:id="dc421185-2728-4058-9c4b-1e5d7b2e569e" >
		<http:listener doc:name="Listener" doc:id="06824a28-e91a-4bd2-b329-9f15567782d3" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="e6aeebab-4c7a-46dd-bb19-fc259e169579" message="Recieved Call"/>
		<http:request method="GET" doc:name="Request" doc:id="bf503fc3-a713-47f4-aaca-03eed6503a9b" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
